header{
    height: 80px;
    background-color: #faf97c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font: bold;
    color: #4bdb50
}

.menu{
    display: flex;
    gap: 20px;
}

.menu h3{
    color: black;
    font: lighter;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid #4dbd50;
}